.editor {
  width: 100%;
  height: 100%;
  border: none;

  &:focus-visible {
    border: none;
    outline: none;
  }
}

.queryError {
  position: absolute;
  background-color: rgba(235, 95, 95, 0.8);
}