.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.items {
  font-family: 'Monaco', monospace;
  background-color: $mainBack;
  height: calc(100% - 36px - 176px);
  border: 0;
  border-bottom: 2px solid $mainAccent;

  &>* {
    padding: 8px 16px;
    font-size: 14px;
    white-space: normal;
  }

  &>option:checked {
    background: linear-gradient($mainAccent, $mainAccent);
  }

  &> :first-child {
    padding-top: 12px;
  }

  &> :last-child {
    padding-bottom: 12px;
  }

  &> :nth-child(2n) {
    background-color: rgba($color: $mainAccent, $alpha: 0.1);
  }
}

.description {
  padding: 12px 16px;
  background-color: $mainBack;
  height: 140px;
  overflow-y: scroll;
  white-space: pre-line;
}

.button {
  background: $successColor;
  color: $auxColor;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 8px;
  width: 100%;
  height: 36px;
}