.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 100%;
  background-color: $mainBack;
  padding-bottom: 24px;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;

  &.idle {
    background-color: $mainAccent;
  }

  &.success {
    background-color: $successColor;
  }

  &.error {
    background-color: $errorColor;
  }
}

.buttons {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;

  &>* {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
}

.mainButton {
  margin-top: auto;
}