.main {
    display: flex;
    flex-direction: column;
    //height: 100vh;
    border-left: 12px solid $mainAccent;
    border-right: 12px solid $mainBackS;
    //padding-bottom: 8px;
}

.layout {
    display: flex;
    flex-grow: 1;
    //max-height: calc(100% - 64px);
    max-height: 1050px;
    width: 100%;
}

.dictionary {
    max-width: 370px;
    margin-right: 12px;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.blockLayout {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;

    &> :last-child {
        //margin-top: 12px;
        //max-height: calc(50% - 12px);
        max-height: 350px;
    }
}

.block {
    display: flex;
    flex-grow: 1;
    //max-height: 50%;

    height: 350px;
    width: 100%;

    /*&> :first-child {
        display: flex;
        width: 150%;
    }*/
}

.logs {
    margin-left: 12px;
}