.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $mainBack
}

.value {
  font-family: 'Monaco', monospace;
  line-height: 20px;
  padding: 12px 16px;
  overflow: auto;
  max-height: calc(100% - 36px);

  & p {
    margin: 0;
  }
}

.table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;

  &.td,
  &.th {
    border: 1px solid black;
    padding: 5px;
  }

  & th {
    font-weight: bold;
  }
}